#flipPage{
    width: 90px;
    margin: auto;
}
#playicon-c {
    width: 40px;
    margin: auto;
    color: aqua;
}
.nextpage{
    width: 25px;
    margin-left: auto;
    margin-top: auto;
}